body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* nav bar */

nav {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 600;
    background-color: white;
    border-bottom: 3px solid black;
}

.dropdown-item:hover {
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-item>.nav-link:hover {
    border-radius: 20px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
}

#company_logo {
    font-weight: bold;
}


/* carousel */

.carousel_img {
    height: 800px;
}


/* Search Box */

.search_box {
    color: white;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.search_center {
    width: fit-content;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 25px;
}

.search_box form input[type=text] {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 40px;
    width: 50%;
    border: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px 10px 10px 10px;
}

.search_box form input[type=submit] {
    display: block;
    height: 40px;
    width: 100px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: rgb(48, 46, 46);
}

.search_box b {
    font-size: large;
}


/*Set Search Bar for mobile*/

@media only screen and (max-width: 480px) {
    .search_box {
        top: 50%;
        left: 0;
    }
}

@media only screen and (max-width: 770px) {
    .search_box {
        top: 50%;
        left: 0;
    }
}


/* Search Property */

.album {
    display: none;
}


/* table */

.table {
    margin-top: 50px;
    margin-bottom: 0;
    /* text-align: right; */
}

.topic {
    text-align: right;
}


/* location */
.map_content>h2{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid grey;
}

.map_content>h2>i{
    margin-right: 10px;
}